.modal-dialog(role='document')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') &times;
      h4.modal-title
        = title
    .modal-body
      p
        = message
    .modal-footer
      button.btn.btn-default(type='button', data-dismiss='modal') Cancel
      button.btn.btn-danger.h-submit(type='submit')
        = submitButton
