.modal-dialog(role='document')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') &times;
      h4.modal-title Open an image
    .modal-body
      p Fancy dialog here...
    .modal-footer
      button.btn.btn-default(data-dismiss='modal', type='button') Close
