.list-group.h-annotation-context-menu
  a.h-remove-group.list-group-item(href='#')
    span.icon-cancel
    | Remove group
  each group in groups
    if group
      a.h-set-group.list-group-item(href='#', data-group=group)
        span.icon-right-big
        = group
  if numberSelected === 1
    a.list-group-item.h-edit-elements(href='#')
      | #[span.icon-cog] Edit
  a.list-group-item.h-remove-elements(href='#')
    | #[span.icon-trash] Delete
