#g-histomicstk-form
  .g-histomicstk-description
    font-size 12px
    margin 0 0 2px

#g-histomicstk-banner-color, #g-histomicstk-brand-color
  display inline
  max-width 160px

#g-histomicstk-banner-default-color, #g-histomicstk-brand-default-color
  width 65px
  display inline
  // Vertical-align is useful to avoid an 5px offset in Mozilla
  vertical-align top

#g-histomicstk-analysis-access-label
  display block
#g-histomicstk-analysis-access
  display inline-block
#g-histomicstk-analysis-access-comment
  font-size 13px
