.h-image-body

  .h-image-view-body
    height calc(100vh - 52px)
    width 100%
    position absolute
    top 52px
    left 0

    .h-image-view-container
      height 100%
      width 100%

    .h-image-view-container:focus
      border none

    .h-image-coordinates-container
      position absolute
      right 0
      bottom 0
      background #eee
      padding 0 3px
      border-radius 3px

  .h-control-panel-container

    overflow-y auto

    .h-control-panel.s-panel-group
      background-color rgba(255, 255, 255, 0.5)
      border 1px solid black
      border-radius 5px

  #h-annotation-selector-container
    right 0
    overflow-y auto
    width 300px

    .s-panel
      margin-right 5px

#h-annotation-context-menu
    position absolute
    z-index 1000
