.h-image-body

  .h-image-controls-container

    .nav-tabs
      position fixed
      z-index 1000
      float left
      border-bottom 0

      li
        float none
        margin 0

        a
          margin-right 0
          border 0
          border-radius 0
          background-color #333

          &:hover
            background-color #444

      li.active
        a
          background-color #fff
          border 0

          i
            color #333

      i
        color #fff

    .tab-content

      .tab-pane
        position fixed
        height calc(100vh - 52px)
        width 300px
        padding-top 1.6rem
        padding-bottom 1.6rem
        padding-right 1.6rem
        padding-left calc(50px + 1.6rem)
        z-index 900
        display none
        background-color #fff
        overflow-y auto
        border-right 1px solid #efefef

      .active
        display block


  .h-image-view-body
    height calc(100vh - 52px)
    width 100%
    position absolute
    top 52px
    left 0

    .h-image-view-container
      height 100%
      width 100%

    .h-image-view-container:focus
      border 0
