.h-image-body

  .h-image-view-body
    height calc(100vh - 52px)
    width 100%
    position absolute
    top 52px
    left 0

    .h-image-view-container
      height 100%
      width 100%

    .h-image-view-container:focus
      border 0

  .h-control-panel-container

    position absolute
    top 62px
    left 10px
    width 300px
    max-height calc(100vh - 72px)
    overflow-y auto

    .h-control-panel
      background-color rgba(255,255,255,0.5)
      border 1px solid black
      border-radius 5px
