{
  "extends": "eslint:recommended",
  "root": true,
  "globals": {
    "geo": true,
    "girder": true,
    "histomicstk": true,
    "slicer": true,
    "$": true,
    "_": true,
    "Backbone": true,
    "tinycolor": true
  },
  "env": {
    "browser": true
  }
}
