*.pyc
__pycache__/
.ipynb_checkpoints
*~
*#
.#*
*.bak
docs/_build
dist/
build
_build
.coverage
*.egg
.eggs
*.egg-info
.cache
.idea
node_modules/
.*.swp
/.vagrant/
.lprof
ansible/roles/girder.girder
# scikit-build
_skbuild
MANIFEST
# cython output
*.so
wheels/
dask-worker-space
