include *.rst
include requirements.txt
include CMakeLists.txt
include *.json
# include *.xml
include plugin.json
include LICENSE

global-exclude __pycache__
global-exclude *.py[co]

graft histomicstk
global-exclude *.so
# recursive-include histomicstk *.xml 
