include .circleci/config.yml
include .dockerignore
include .git-blame-ignore-revs
include .gitignore
include AUTHORS.rst
include CMakeLists.txt
include CONTRIBUTING.rst
include Dockerfile
include Dockerfile-wheels
include LICENSE
include NOTICE
include README.rst
include build_wheels.sh
include codecov.yml
include docs/Makefile
include docs/api-docs.rst
include docs/authors.rst
include docs/conf.py
include docs/contributing.rst
include docs/examples.rst
include docs/examples/annotation_database_backup_and_sql_parser.ipynb
include docs/examples/annotations_to_object_segmentation_masks.ipynb
include docs/examples/annotations_to_semantic_segmentation_masks.ipynb
include docs/examples/color_deconvolution.ipynb
include docs/examples/color_normalization_and_augmentation.ipynb
include docs/examples/creating_gallery_images_review.ipynb
include docs/examples/doc_files/ModifiedHTTAnnotationProtocol.pdf
include docs/examples/doc_files/ModifiedNucleusAnnotationProtocol.pdf
include docs/examples/introducing_the_girder_api.rst
include docs/examples/nuclei_segmentation.ipynb
include docs/examples/polygon_merger_from_tiled_masks.ipynb
include docs/examples/polygon_merger_using_rtree.ipynb
include docs/examples/positive_pixel_count.ipynb
include docs/examples/procedure_for_typical_annotation_project.rst
include docs/examples/segmentation_masks_to_annotations.ipynb
include docs/examples/semantic_segmentation_color_thresholding_approach.ipynb
include docs/examples/semantic_segmentation_superpixel_approach.ipynb
include docs/examples/simple_tissue_detection.ipynb
include docs/examples/tips_for_scalable_annotation_rendering.rst
include docs/examples/using_large_image.ipynb
include docs/examples/workflows.ipynb
include docs/histomicstk.annotations_and_masks.annotation_and_mask_utils.rst
include docs/histomicstk.annotations_and_masks.annotation_database_parser.rst
include docs/histomicstk.annotations_and_masks.annotations_to_object_segmentation_masks.rst
include docs/histomicstk.annotations_and_masks.annotations_to_semantic_segmentation_masks.rst
include docs/histomicstk.annotations_and_masks.masks_to_annotations_handler.rst
include docs/histomicstk.annotations_and_masks.polygon_merger.rst
include docs/histomicstk.annotations_and_masks.review_gallery.rst
include docs/histomicstk.annotations_and_masks.rst
include docs/histomicstk.features.rst
include docs/histomicstk.filters.edge.rst
include docs/histomicstk.filters.rst
include docs/histomicstk.filters.shape.rst
include docs/histomicstk.preprocessing.augmentation.rst
include docs/histomicstk.preprocessing.color_conversion.rst
include docs/histomicstk.preprocessing.color_deconvolution.rst
include docs/histomicstk.preprocessing.color_normalization.rst
include docs/histomicstk.preprocessing.rst
include docs/histomicstk.rst
include docs/histomicstk.saliency.cellularity_detection_superpixels.rst
include docs/histomicstk.saliency.cellularity_detection_thresholding.rst
include docs/histomicstk.saliency.rst
include docs/histomicstk.saliency.tissue_detection.rst
include docs/histomicstk.segmentation.label.rst
include docs/histomicstk.segmentation.level_set.rst
include docs/histomicstk.segmentation.nuclear.rst
include docs/histomicstk.segmentation.positive_pixel_count.rst
include docs/histomicstk.segmentation.rst
include docs/histomicstk.utils.rst
include docs/histomicstk.workflows.rst
include docs/histomicstk.workflows.specific_workflows.rst
include docs/histomicstk.workflows.workflow_runner.rst
include docs/index.rst
include docs/installation.rst
include docs/make.bat
include docs/make_docs.sh
include histomicstk/__init__.py
include histomicstk/annotations_and_masks/__init__.py
include histomicstk/annotations_and_masks/annotation_and_mask_utils.py
include histomicstk/annotations_and_masks/annotation_database_parser.py
include histomicstk/annotations_and_masks/annotations_to_masks_handler.py
include histomicstk/annotations_and_masks/annotations_to_object_mask_handler.py
include histomicstk/annotations_and_masks/masks_to_annotations_handler.py
include histomicstk/annotations_and_masks/polygon_merger.py
include histomicstk/annotations_and_masks/polygon_merger_v2.py
include histomicstk/annotations_and_masks/pyrtree/__init__.py
include histomicstk/annotations_and_masks/pyrtree/rect.py
include histomicstk/annotations_and_masks/pyrtree/rtree.py
include histomicstk/annotations_and_masks/review_gallery.py
include histomicstk/annotations_and_masks/tests/test_annotation_and_mask_utils.py
include histomicstk/annotations_and_masks/tests/test_annotation_database_parser.py
include histomicstk/annotations_and_masks/tests/test_annotations_to_masks_handler.py
include histomicstk/annotations_and_masks/tests/test_annotations_to_object_mask_handler.py
include histomicstk/annotations_and_masks/tests/test_masks_to_annotations_handler.py
include histomicstk/annotations_and_masks/tests/test_polygon_merger.py
include histomicstk/annotations_and_masks/tests/test_review_gallery.py
include histomicstk/cli/BackgroundIntensity/BackgroundIntensity.py
include histomicstk/cli/BackgroundIntensity/BackgroundIntensity.xml
include histomicstk/cli/BackgroundIntensity/__init__.py
include histomicstk/cli/ColorDeconvolution/ColorDeconvolution.py
include histomicstk/cli/ColorDeconvolution/ColorDeconvolution.xml
include histomicstk/cli/ColorDeconvolution/__init__.py
include histomicstk/cli/ComputeNucleiFeatures/ComputeNucleiFeatures.py
include histomicstk/cli/ComputeNucleiFeatures/ComputeNucleiFeatures.xml
include histomicstk/cli/ComputeNucleiFeatures/README.md
include histomicstk/cli/ComputeNucleiFeatures/__init__.py
include histomicstk/cli/NucleiClassification/NucleiClassification.py
include histomicstk/cli/NucleiClassification/NucleiClassification.xml
include histomicstk/cli/NucleiClassification/__init__.py
include histomicstk/cli/NucleiDetection/NucleiDetection.py
include histomicstk/cli/NucleiDetection/NucleiDetection.xml
include histomicstk/cli/NucleiDetection/__init__.py
include histomicstk/cli/PositivePixelCount/PositivePixelCount.py
include histomicstk/cli/PositivePixelCount/PositivePixelCount.xml
include histomicstk/cli/PositivePixelCount/__init__.py
include histomicstk/cli/SeparateStainsMacenkoPCA/SeparateStainsMacenkoPCA.py
include histomicstk/cli/SeparateStainsMacenkoPCA/SeparateStainsMacenkoPCA.xml
include histomicstk/cli/SeparateStainsMacenkoPCA/__init__.py
include histomicstk/cli/SeparateStainsXuSnmf/SeparateStainsXuSnmf.py
include histomicstk/cli/SeparateStainsXuSnmf/SeparateStainsXuSnmf.xml
include histomicstk/cli/SeparateStainsXuSnmf/__init__.py
include histomicstk/cli/SuperpixelSegmentation/SuperpixelSegmentation.py
include histomicstk/cli/SuperpixelSegmentation/SuperpixelSegmentation.xml
include histomicstk/cli/SuperpixelSegmentation/__init__.py
include histomicstk/cli/__init__.py
include histomicstk/cli/dask_config.yaml
include histomicstk/cli/docker-entrypoint.sh
include histomicstk/cli/slicer_cli_list.json
include histomicstk/cli/utils.py
include histomicstk/features/CMakeLists.txt
include histomicstk/features/__init__.py
include histomicstk/features/_compute_marginal_glcm_probs_cython.pyx
include histomicstk/features/compute_fsd_features.py
include histomicstk/features/compute_global_cell_graph_features.py
include histomicstk/features/compute_gradient_features.py
include histomicstk/features/compute_haralick_features.py
include histomicstk/features/compute_intensity_features.py
include histomicstk/features/compute_morphometry_features.py
include histomicstk/features/compute_nuclei_features.py
include histomicstk/features/graycomatrixext.py
include histomicstk/filters/__init__.py
include histomicstk/filters/edge/__init__.py
include histomicstk/filters/edge/gaussian_grad.py
include histomicstk/filters/shape/__init__.py
include histomicstk/filters/shape/cdog.py
include histomicstk/filters/shape/clog.py
include histomicstk/filters/shape/glog.py
include histomicstk/filters/shape/vesselness.py
include histomicstk/preprocessing/__init__.py
include histomicstk/preprocessing/augmentation/__init__.py
include histomicstk/preprocessing/augmentation/color_augmentation.py
include histomicstk/preprocessing/color_conversion/__init__.py
include histomicstk/preprocessing/color_conversion/lab_mean_std.py
include histomicstk/preprocessing/color_conversion/lab_to_rgb.py
include histomicstk/preprocessing/color_conversion/od_to_rgb.py
include histomicstk/preprocessing/color_conversion/rgb_to_hsi.py
include histomicstk/preprocessing/color_conversion/rgb_to_lab.py
include histomicstk/preprocessing/color_conversion/rgb_to_od.py
include histomicstk/preprocessing/color_conversion/rgb_to_sda.py
include histomicstk/preprocessing/color_conversion/sda_to_rgb.py
include histomicstk/preprocessing/color_deconvolution/__init__.py
include histomicstk/preprocessing/color_deconvolution/_linalg.py
include histomicstk/preprocessing/color_deconvolution/color_convolution.py
include histomicstk/preprocessing/color_deconvolution/color_deconvolution.py
include histomicstk/preprocessing/color_deconvolution/complement_stain_matrix.py
include histomicstk/preprocessing/color_deconvolution/find_stain_index.py
include histomicstk/preprocessing/color_deconvolution/rgb_separate_stains_macenko_pca.py
include histomicstk/preprocessing/color_deconvolution/rgb_separate_stains_xu_snmf.py
include histomicstk/preprocessing/color_deconvolution/separate_stains_macenko_pca.py
include histomicstk/preprocessing/color_deconvolution/separate_stains_xu_snmf.py
include histomicstk/preprocessing/color_deconvolution/stain_color_map.py
include histomicstk/preprocessing/color_normalization/__init__.py
include histomicstk/preprocessing/color_normalization/background_intensity.py
include histomicstk/preprocessing/color_normalization/deconvolution_based_normalization.py
include histomicstk/preprocessing/color_normalization/reinhard.py
include histomicstk/preprocessing/color_normalization/reinhard_stats.py
include histomicstk/preprocessing/tests/test_normalization_and_augmentation.py
include histomicstk/saliency/__init__.py
include histomicstk/saliency/cellularity_detection_superpixels.py
include histomicstk/saliency/cellularity_detection_thresholding.py
include histomicstk/saliency/tests/test_saliency.py
include histomicstk/saliency/tissue_detection.py
include histomicstk/segmentation/__init__.py
include histomicstk/segmentation/embed_boundaries.py
include histomicstk/segmentation/label/CMakeLists.txt
include histomicstk/segmentation/label/__init__.py
include histomicstk/segmentation/label/_trace_object_boundaries_cython.pyx
include histomicstk/segmentation/label/area_open.py
include histomicstk/segmentation/label/compact.py
include histomicstk/segmentation/label/condense.py
include histomicstk/segmentation/label/delete.py
include histomicstk/segmentation/label/delete_border.py
include histomicstk/segmentation/label/dilate_xor.py
include histomicstk/segmentation/label/perimeter.py
include histomicstk/segmentation/label/shuffle.py
include histomicstk/segmentation/label/split.py
include histomicstk/segmentation/label/trace_object_boundaries.py
include histomicstk/segmentation/label/width_open.py
include histomicstk/segmentation/level_set/__init__.py
include histomicstk/segmentation/level_set/chan_vese.py
include histomicstk/segmentation/level_set/reg_edge.py
include histomicstk/segmentation/nuclear/CMakeLists.txt
include histomicstk/segmentation/nuclear/__init__.py
include histomicstk/segmentation/nuclear/_max_clustering_cython.pyx
include histomicstk/segmentation/nuclear/detect_nuclei_kofahi.py
include histomicstk/segmentation/nuclear/gaussian_voting.py
include histomicstk/segmentation/nuclear/gvf_tracking.py
include histomicstk/segmentation/nuclear/max_clustering.py
include histomicstk/segmentation/nuclear/min_model.py
include histomicstk/segmentation/positive_pixel_count.py
include histomicstk/segmentation/rag.py
include histomicstk/segmentation/rag_add_layer.py
include histomicstk/segmentation/rag_color.py
include histomicstk/utils/__init__.py
include histomicstk/utils/compute_tile_foreground_fraction.py
include histomicstk/utils/convert_image_to_matrix.py
include histomicstk/utils/convert_matrix_to_image.py
include histomicstk/utils/del2.py
include histomicstk/utils/eigen.py
include histomicstk/utils/exclude_nonfinite.py
include histomicstk/utils/fit_poisson_mixture.py
include histomicstk/utils/general_utils.py
include histomicstk/utils/girder_convenience_utils.py
include histomicstk/utils/gradient_diffusion.py
include histomicstk/utils/hessian.py
include histomicstk/utils/merge_colinear.py
include histomicstk/utils/sample_pixels.py
include histomicstk/utils/simple_mask.py
include histomicstk/utils/tests/test_girder_convenience_utils.py
include histomicstk/workflows/__init__.py
include histomicstk/workflows/specific_workflows.py
include histomicstk/workflows/tests/test_workflow_runner.py
include histomicstk/workflows/workflow_runner.py
include pyproject.toml
include requirements-dev.txt
include sample_images/.gitignore
include setup.py
include test_wheels.py
include tests/.dockerignore
include tests/Dockerfile-gc-tests
include tests/__init__.py
include tests/datastore.py
include tests/disable_test_cli_results.py
include tests/docker-compose.yml
include tests/docker_setup.py
include tests/htk_test_utilities.py
include tests/test_blob_detection_filters.py
include tests/test_cli_common.py
include tests/test_color_conversion.py
include tests/test_color_deconvolution.py
include tests/test_color_normalization.py
include tests/test_feature_extraction.py
include tests/test_files/Easy1_nuclei_fsd_features.csv
include tests/test_files/Easy1_nuclei_gradient_features.csv
include tests/test_files/Easy1_nuclei_gradient_features_v2.csv
include tests/test_files/Easy1_nuclei_haralick_features.csv
include tests/test_files/Easy1_nuclei_intensity_features.csv
include tests/test_files/Easy1_nuclei_morphometry_features.csv
include tests/test_files/Easy1_nuclei_morphometry_features_v2.csv
include tests/test_files/annotations_and_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-59206_top-33505_mag-BASE.png
include tests/test_files/annotations_and_masks/img/polygon_merger_merged.JPG
include tests/test_files/annotations_and_masks/img/polygon_merger_unmerged.JPG
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44350_top-43750_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44350_top-44262_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44350_top-44774_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44350_top-45286_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44350_top-45798_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44862_top-43750_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44862_top-44262_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44862_top-44774_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44862_top-45286_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-44862_top-45798_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45374_top-43750_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45374_top-44262_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45374_top-44774_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45374_top-45286_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45374_top-45798_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45886_top-43750_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45886_top-44262_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45886_top-44774_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45886_top-45286_mag-BASE.png
include tests/test_files/annotations_and_masks/polygon_merger_roi_masks/TCGA-A2-A0YE-01Z-00-DX1.8A2E3094-5755-42BC-969D-7F0A2ECA0F39_left-45886_top-45798_mag-BASE.png
include tests/test_files/annotations_and_masks/sample_contours_df.tsv
include tests/test_files/saliency_GTcodes.csv
include tests/test_files/sample_GTcodes.csv
include tests/test_glcm.py
include tests/test_global_cell_graph_features.py
include tests/test_nuclei_segmentation.py
include tests/test_segmentation_label.py
include tox.ini
exclude MANIFEST.in