#########################################################
#
# Add all python packages that depend on C libraries and
# are available on conda here
#
#########################################################

nimfa==1.2.3

# large_image requires numpy==1.10.2
numpy==1.10.2

# scikit-image / scipy / numpy have compatability bugs with some versions
# Do not change these versions without extensive testing
scikit-image==0.12.3
scipy==0.16.0

# If Conda is used, "libgfortran==1.0" must also be specified

scikit-learn==0.17.1