###############################################################
#
# Add all python packages that dont depend on C libraries here
#
###############################################################
lxml>=3.4.4
docker-py==1.9.0
dask>=0.14.0
distributed>=1.16.0
scikit-build>=0.6.0
