###############################################################
#
# Add all python packages that dont depend on C libraries here
#
###############################################################
lxml>=3.4.4
nbsphinx>=0.2.8



