.input-group
  .g-region-input-placeholder
  span.input-group-btn
    button.btn.btn-default.h-select-region-button(
      type='button', data-toggle='tooltip', data-placement='right', title='Draw a region on the image')
      i.icon-pencil
