.h-annotation
    span
        cursor pointer
    .h-toggle-annotation
        float left
        margin-right 1em

    .h-annotation-right
        float right

    a
        color #333

.h-annotation:hover
    background-color #eee
