.h-elements-container
    width 100%
    max-height 300px
    overflow-y auto
    margin-top 5px
    padding 3px 5px

    .h-element
        .h-element-label
            margin-left 5px

        .h-edit-element,.h-delete-element
            cursor pointer

    .h-element:hover
        background-color #eee

.h-save-annotation
    float right
