.h-elements-container
    width 100%
    max-height 300px
    overflow-y auto
    margin-top 5px
    padding 3px 5px

    .h-element
        border-radius 3px
        span
            cursor pointer

        .h-element-label
            margin-left 5px
            white-space nowrap
            overflow hidden
            display inline-block
            vertical-align top
            max-width calc(100% - 50px)
            text-overflow ellipsis

        .h-delete-element
            float right

    .h-element.h-highlight-element
        background-color #ccc

    .h-element:hover
        background-color #eee

.h-save-annotation
    float right

.h-draw-widget
  .h-draw-tools
    .btn-group-sm>.btn
      padding-left 3px
      padding-right 7px

  .h-style-group-row
    margin 10px 0

  .btn-default.active
    background-color #5790ff
    &:focus, &:hover
      background-color #4672cc

  .h-panel-name:before
    content " - "

  .h-panel-name
    display inline
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    font-weight normal
