.h-zoom-widget
    .h-zoom-slider
        padding 0
        box-shadow none

    .h-zoom-value
        border 1px solid #ccc
        border-radius 2px
        min-width 4em

    .h-zoom-buttons
        margin-top 10px
