[global]
server.socket_host: "0.0.0.0"
server.socket_port: {{ girder_socket_port }}
server.thread_pool: 100

[auth]
# Use "bcrypt" or "sha512"
hash_alg: "bcrypt"

# Exponent for bcrypt complexity (default=12).
# Don't change this unless you know what it means.
bcrypt_rounds: 12

[database]
uri: "mongodb://{{ mongo_private_ip }}:27017/{{ mongo_girder_database }}?socketTimeoutMS=3600000"
replica_set: None

[server]
# Set to "production" or "development"
mode: "development"
# api_root: "api/v1"
api_root: "api/v1"
static_root: "static"
# The api_static_root is the route from the 'api' path to the 'static' path
api_static_root: "../static"

[logging]
log_root="{{ root_dir }}/logs"
# Log web accesses to the info log
log_access = ["info"]
# Log everything to the info log (errors also go to the error log)
log_max_info_level = "CRITICAL"
# Increase maximum size of log file
log_max_size = "10 Mb"

[users]
# Regular expression used to validate user emails
email_regex: "^[\w\.\-\+]*@[\w\.\-]*\.\w+$"

# Regular expression that logins must match. All logins are lower()ed before validation.
login_regex: "^[a-z][\da-z\-\.]{3,}$"
# Text that will be presented to the user if their login fails the regex
login_description: "Login must be at least 4 characters, start with a letter, and may only contain \
                    letters, numbers, dashes, and dots."

# Regular expression that passwords must match
password_regex: ".{6}.*"
# Text that will be presented to the user if their password fails the regex
password_description: "Password must be at least 6 characters."

[large_image]
#  cache_backend is either "memcached" (default) or "python"
cache_backend: "memcached"
#  cache_python_memory_portion affects memory use when using python caching.
#  Higher numbers use less memory.
cache_python_memory_portion: 8
#  cache_memcached_url is one or a list of memcached servers, such as
#  ["127.0.0.1", "192.168.10.5"].  Default is "127.0.0.1".  You may want to
#  edit options in /etc/memcached.conf as well.
cache_memcached_url: "{{ memcached_url }}"
cache_memcached_username: None
cache_memcached_password: None

[cache]
enabled = True

[histomicstk]
# If restrict_downloads is True, only logged-in users can access download and
# tiles/images endpoints.
restrict_downloads = True
