#g-app-header-container
  #h-navbar-brand
    font-size 25px
    font-weight 700

  .g-header-wrapper
    .h-image-menu-wrapper
      display inline
      float right

  button
    margin-left 10px

  z-index 1000
