@import '~nib/index.styl'

$headerHeight = 52px

body.histomicstk-body
  user-select none
  overflow hidden

.h-header-wrapper
  height $headerHeight
  padding-right 20px
  padding-left 20px
  background-color rgba(255, 255, 255, 0.88)
  border-bottom 1px solid #e6e6e6
  transition background-color 0.4s ease-in-out
  position fixed
  top 0
  width 100%
  z-index 10

  &:hover
    background-color white

  .h-user-link
    color #444
    font-size 16px

    &:hover
      color #66a

  .h-login-link-wrapper
    font-size 16px

  .h-user-link-wrapper
    display inline-block

  .h-current-user-text > *
    vertical-align middle
    line-height $headerHeight

  .h-current-user-wrapper
    float right

  .h-icons-wrapper
    display inline
    line-height $headerHeight
    font-size 21px

    &>a
      color #444
      margin-right 4px
      border 1px solid transparent
      border-radius 3px
      padding 3px

      &:hover
        color #449
        border 1px solid #e2e2e2
        background linear-gradient(top, white 60%, #f6f6f6 100%)

      &:active
        background linear-gradient(bottom, white 60%, #f6f6f6 100%)

#g-app-body-container.h-full-page-body
  margin 0
  margin-top $headerHeight
  min-height 0
  padding 0px 0px
  overflow hidden
