.h-control-panel-container
  position fixed
  width 280px
  z-index 1000
  margin-left 5px
  margin-top 52px
  top 0
  max-height calc(100vh - 52px)
  overflow-y scroll
  user-select initial

  .g-validation-failed-message
    font-size small

  .h-info-panel-description
    margin 0

    .g-task-description-container
      border none
      margin 0
      padding 0

      p
        margin 0

  .g-run-container
    margin 0
