#h-vis-container
    height 100%
    width 100%

    .h-panel-group
        right 0
        margin-right 5px

    .h-visualization-body
        position relative
        top 0
        left 0
        height 100%
        width 100%
