#h-vis-container
    top 0
    left 0
    height 100%
    width 100%

    .h-panel-group
        right 0
        margin-right 5px

    .h-visualization-body,.h-annotation-layers
        position relative
        top 0
        left 0
        height 100%
        width 100%

    .h-annotation-layers
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        pointer-events none
