[Unit]
Description=Girder Worker Service
After=network.target

[Service]
Type=simple
User={{ worker_exec_user }}
Group={{ worker_exec_group }}
WorkingDirectory=/opt/girder_worker
ExecStart=/bin/sh -c "LANG=en_US.UTF-8 python -m girder_worker --concurrency={{worker_concurrency}} --pidfile=.worker_pid --logfile=/opt/girder_worker/worker.log -l info"

[Install]
WantedBy=multi-user.target
