[celery]
app_main=girder_worker
broker=amqp://guest@{{ mq_private_ip }}/
# broker=mongodb://{{ mongo_private_ip }}:27017/{{ mongo_worker_database }}

[girder_worker]
# root dir where temp files for jobs will be written
tmp_root=/tmp/girder_worker
# comma-separated list of plugins to enable
plugins_enabled=docker,girder_io
# colon-separated list of additional plugin loading paths
plugin_load_path=

[girder_io]
# enable or disable diskcache for files downloaded with the girder client
diskcache_enabled=1
# directory to use for the diskcache
diskcache_directory=girder_file_cache
# eviction policy used when diskcache size limit is reached
diskcache_eviction_policy=least-recently-used
# maximum size of the disk cache - 10737418240 = 10GB
diskcache_size_limit=10737418240
# maximum number of items to cull when evicting items
diskcache_cull_limit=10
# cached values below this size are stored directly in the cache's sqlite db
diskcache_large_value_threshold=1024

[docker]
exclude_images=

[logging]
level = INFO
format = [%%(asctime)s] %%(levelname)s: %%(message)s
