#g-app-header-container
  z-index 1000
  #g-navigation-header > ul > li > a
    color #fff

  .navbar-brand
    color #fff
    font-size 25px
    font-weight bold

  .g-analysis-selection ul > li > a
    padding 3px 20px
