@import 'nib'
@import 'ext/bootstrap-submenu.css'

$headerHeight = 52px

.h-app-body-container
    position relative
    height "calc(100% - %s)" % $headerHeight
    top $headerHeight
    overflow hidden
