extends ./panel.pug

block title
  | #[span.icon-tags] #{title}

block content
  each annotation in annotations
    - annotation = annotation.attributes;
    - var name = annotation.annotation.name;
    - var displayed = annotation.displayed;
    .h-annotation
      span(data-id=annotation._id) #{name}
        if displayed
          i.icon-eye.h-toggle-annotation
        else
          i.icon-eye-off.h-toggle-annotation
