extends ./panel.pug

block content
  input.h-region-value.form-control(type="text", readonly)
  .btn-group.btn-group-justified(role="group")
    .btn-group(role="group")
      button.h-select-region-button.btn.btn-primary(type="button") Select
    .btn-group(role="group")
      button.h-clear-region-button.btn.btn-warning(type="button") Clear
