#!/bin/bash
export PYTHONPATH='{{ root_dir }}/miniconda/lib/python2.7/site-packages:{{ root_dir }}/miniconda/lib/python2.7/site-packages/ctk_cli-1.3-py2.7.egg:$PYTHONPATH'
cd {{ root_dir }}/HistomicsTK
python setup.py build_ext --inplace
cd {{ root_dir }}/build
cmake ../girder
make -j2
if [ $# -eq 0 ]; then
  ctest -j3 -V
else
  ctest "$@"
fi
