.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        | Select a file for "#{name}"
    .modal-body(
      data-target-id='#{id}')
