.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        | Select an execution module
    .modal-body
      .h-exe-module-list.list-group
        each module in modules
          a.list-group-item(href='#' + module) #{module}
