.g-header-wrapper
nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid

    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#g-navigation-header' aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .navbar-brand HistomicsTK

    .collapse.navbar-collapse#g-navigation-header
      ul.nav.navbar-nav.navbar-right

        if (user)
          li.g-analysis-selection.dropdown
            a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
              | Analyses
              i.icon-down-open
            ul#g-analysis-menu.dropdown-menu(role='menu')
              each name in analyses
                li
                  a(href='#' data-name='#{name}') #{name}

          li.g-image-selection
            a.g-open-image Open image

          li.g-user-text.dropdown
            a.dropdown-toggle(data-toggle="dropdown", data-target="#g-user-action-menu")
              | #{user.get('firstName')} #{user.get('lastName')}
              i.icon-down-open
            ul.dropdown-menu(role="menu")
              li(role="presentation")
                a.g-logout
                  i.icon-logout
                  | Log out
        else
          li
            a.g-register Register
          li
            a.g-login  Log In
              i.icon-login
