.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        | Select a #{type} for "#{name}"
    .modal-body(
      data-target-id='#{id}')
    if type === 'directory'
      .modal-footer
          a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
          button.h-save-directory.btn.btn-small.btn-primary(type="submit")
            i.icon-edit
            | Select
