.h-panel-title
  span.h-panel-title
    block title
      | #{title}
  span.h-panel-controls
    i.icon-up-open
    i.icon-cancel.h-remove-panel(data-target='##{id}')
.h-panel-content.collapse.in
  block content
