nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(
          type='button',
          data-toggle='collapse',
          data-target='#h-navbar-collapse',
          aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#h-navbar-brand.navbar-brand HistomicsTK

    #h-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.h-current-user-wrapper.dropdown
