if user
  a.h-user-dropdown-link(data-toggle='dropdown')
    | #[span.icon-user] #{user.get('login')} #[span.icon-down-open]
  ul.dropdown-menu(role='menu')
    li(role='presentation')
      a.g-my-folders(href=`/girder#jobs/user/${user.id}`, target='girder')
        i.icon-tasks
        | My jobs
    li(role='presentation')
      a.g-my-settings(href=`/girder#useraccount/${user.id}`, target='girder')
        i.icon-cog
        | My account
    li.divider(role='presentation')
    li(role='presentation')
      a.g-logout
        i.icon-logout
        | Log out
else
  p.navbar-text
    a.g-register Register
    | #{' or '}
    a.g-login Log In
      i.icon-login
