button.btn.btn-default.navbar-btn.h-open-annotated-image(type='button')
  | #[span.icon-list] Annotated images...
button.btn.btn-default.navbar-btn.h-open-image(type='button')
  | #[span.icon-picture] Open image...
