if user
  - var login = user.get('login');
  a.h-user-dropdown-link(data-toggle='dropdown')
    | #[span.icon-user] #{login} #[span.icon-down-open]
  ul.dropdown-menu(role='menu')
    li
      a.g-my-folders(href=`../girder#jobs/user/${user.id}`, target='girder')
        i.icon-tasks
        | My jobs
    li
      a.g-my-settings(href=`../girder#useraccount/${user.id}/info`, target='girder')
        i.icon-cog
        | My account
    li.divider
    li
      a.g-logout
        i.icon-logout
        | Log out
else
  p.navbar-text
    a.navbar-link.g-register Register
    | #{' or '}
    a.navbar-link.g-login Log In
      i.icon-login
