.h-image-body
  .h-image-view-body
    .h-image-view-container
    .h-image-coordinates-container.hidden
      span.icon-location
      span.h-image-coordinates 0, 0
  .h-control-panel-container.g-panel-group
  #h-annotation-selector-container.g-panel-group.hidden
    .h-zoom-widget.g-panel
    .h-annotation-selector.g-panel
    .h-draw-widget.g-panel
  #h-annotation-popover-container
